QListView
{
    background-color: rgb(42, 42, 42);
    border-style: solid;
    border-radius: 0px;
    border-width: 0px;
    border-color: rgb(60, 60, 60, 100);
    font-size: 10pt;
}

QLineEdit
{
    background-color: rgb(42, 42, 42);
    border-style: solid;
    border-radius: 10px;
    padding: 4px;
    border-width: 5px;
    border-color: rgb(68, 68, 68);
    font-size: 14pt;
}
